.gallery-thumbnails-text-bottom .primary {
    overflow: hidden;
}
.gallery-thumbnails-text-bottom .primary .exhibit-item {
        display: block;
        float: left;
        width: 170px;
        height: 170px;
    /*    padding-top: 18px;*/
    /*    margin-right: 18px;*/
    /*    margin-bottom: 18px;*/
/*        margin:0px 18px 36px 18px;*/
        margin:0 36px 36px 0px;
}

.gallery-thumbnails-text-bottom .secondary {
    clear: both;
}
